<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/employer">CV Website</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/employer">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/search-cv']">Search CV</a></li>
      <li routerLinkActive="active"><a>Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="logOut()" >Logout</a></li>
    </ul>
  </div>
</nav>