<ul class="nav nav-tabs">

  <li routerLinkActive="active" ><a [routerLink]="['/manage-cv/saved']" >Saved CV's</a></li>

  <li routerLinkActive="active"><a [routerLink]="['/manage-cv/submitted']" >Submitted CV's</a></li>

  <li routerLinkActive="active" ><a [routerLink]="['/manage-cv/recieved-feedback']" >Recieved Feedback </a></li>
  
  <li routerLinkActive="active" ><a [routerLink]="['/manage-cv/completed']"  >Completed CV's</a></li>

  <li routerLinkActive="active" ><a [routerLink]="['/manage-cv/all']" >View All CV's</a></li>

</ul>
